@* Views/Issues/Delete.cshtml *@
@{
    ViewData["Title"] = "Home Page - My Issues Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Issue Tracker!</h1>
    <p>Manage your Issues efficiently<p>

    <div>
        <a class="btn btn-primary" href="@Url.Action("Index","Issues")">View Open Issues</a>
        <a class="btn btn-success" href="@Url.Action("Create","Issues")">Report New Issue</a>
    </div>

    @* <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>